                <div class="tn_flyo">
                  {%- for sublink in sublinks -%}
                    {%- capture active_sublink -%}{%- if pageurl == sublink.url -%}active{%- endif -%}{%- endcapture -%}
                    <a href="{{ sublink.url }}" class="tn_bl2_viz {{ active_sublink }}">
                      <span class="tn_bl2_txt">
                        {{ sublink.text }}
                      </span>
                    </a>
                  {%- endfor -%}
                </div>