<!doctype html>
<html lang="en" class="no-js">
  {% include 'layouts/html_head' %}
  <body>
    <div id="site-wrap">
      {%- include 'layouts/nav' -%}
      
      <main id="content">
        {{ content }}
      </main>
      <!-- Current page: {{ page.url | url }} -->
    </div>{%- comment -%}End div#site-wrap{%- endcomment -%}
    {% include 'layouts/scripts_end' %}
  </body>
</html>