/**
 * Universal SCSS variables
 */

$contained-padding-lr: 1.125rem;

// Widths
$width-xs: 360px !default;
$width-sm: 460px !default;
$width-md: 740px !default;
$width-lg: 1140px !default;
$width-xl: 1400px !default;